services:
  db:
    image: postgres:13
    container_name: mft-algotrade-bot-db-1
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: stoic_trader
      POSTGRES_PASSWORD: "Zuvs!vNMXKnWPwq3wnzmJ^iW1XDza9*A"
      POSTGRES_DB: trading_analytics
    volumes:
      - mft-algotrade-bot_postgres_data:/var/lib/postgresql/data
      - ./deploy/scripts/init-db:/docker-entrypoint-initdb.d
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U stoic_trader -d trading_analytics"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6.2-alpine
    container_name: mft-algotrade-bot-redis-1
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mft-algotrade-bot_postgres_data:
